html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

.alphaTabSurface > svg:first-child, /* Top matter */
/* .alphaTabSurface > svg:last-child, /* Attribution footer */ 
.alphaTabSurface > svg:nth-child(2) > *:nth-child(1), /* beat note */
.alphaTabSurface > svg:nth-child(2) > *:nth-child(2), /* bpm */
.alphaTabSurface > svg:nth-child(2) > *:nth-last-child(5), /* dynamics */
.alphaTabSurface > svg:not(:first-child):not(:last-child) > *:nth-last-child(-n + 3) /* left brackets */
{
  visibility: hidden;
}

.beatCursor {
  background: rgba(64, 64, 255, 0.75)
}

.atHighlight * {
  fill: #0078ff;
  stroke: #0078ff;
}

#controls {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
}

#blocklyEditor {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40vw;
}

#toolbox {
  display: none;
}

#right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60vw;
}

#scoreWrapper {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#attribution {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: sans-serif;
  font-size: 10pt;
}

#scratch {
  display: none;
}

#foo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.blocklyText, .blocklyHtmlInput, .blocklyTreeLabel {
  font-family: 'Hind', sans-serif !important;
}
